/*---------------- Alterações diretas --------------------------*/





/*------------------- Classes ----------------------------------*/

/*------ Cores --------*/

/* Cores do background referenciados ao logo */
.backgroundcolor1
{
    background-color: rgb(255,255,255);
}
.backgroundcolor2
{
    background-color: rgb(245, 147, 84);
}
.backgroundcolor3
{
    background-color: rgb(1,190,98);
}


/*--------------------- IDs -----------------------------------*/